<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul v-if="nameStr.length > 0">
            <li v-for="item in nameStr">{{ item }}</li>
        </ul>

        <h2 v-else>当前nameStr没有数据</h2>
    </div>
    <script src="../lib/vue.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    nameStr: ['Liclo', 'Dekki', 'Shadow', '慕给瓦啦']
                    // nameStr: []
                }
            }
        });
        app.mount('#app')
    </script>
</body>
</html>